/*ready for unprofessional comments???*/

:root {
  --primary-color: #06b3bc;
  --text-color: #042d2f;
  --text-color-lighter: #074c50;
  --secondary-color: #F78828;
  --warn-color: #FDD219;
  --danger-color: #FA5456;
  --white: #FFFFFF;
  --off-white: #F1F2F4;
  --gray: #A1A1A1;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.3rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-size: 2.5rem;
}

h1, h2 {
  text-align: center;
}

{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  padding: 48px 0;
  border-bottom: var(--secondary-color) 6px solid;
}

header a {
  font-size: 1.5rem;
  color: var(--off-white);
}

main a {
  color: var(--danger-color);
}

main > article, nav{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  display: flex;
}

nav > a:not(:first-of-type){
  margin-left: 24px;
}

nav > a.logo {
  margin-right: auto;
  text-transform: uppercase;
}

main > section, main > article {
  margin-bottom: 96px;
  box-shadow: 4px 4px 10px var(--gray);
  background-color: var(--white);
}

main > section.hero {
  height: 300px;
  background-image: url(https://picsum.photos/1920/1000);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

section.hero > .call-to-action {
  /*font-size: 2rem;
  font-weight: 700;
  NOT TODAY SATAN!*/
  text-shadow: var(--white) 0px 0px 10px, var(--white) 0px 0px 20px, var(--gray) 2px 2px 2px;
  padding: 0 48px;
  margin: 0;
}

section.hero > button {
  background-color: var(--secondary-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

main article {
  padding: 0;
}

main p {
  line-height: 1.75;
  margin-bottom: 48px;
}

/*main > article img {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 24px;
  margin-bottom: 6px;
}*/

footer {
  margin-top: auto;
  background-color: var(--gray);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--off-white);
}

@media screen and (max-width: 500px){
  header {
  display: flex;
  }

/*Wanna talk about how the struggle is real?? 
Here's the T
IDK why my nav looks off-center. I've tried adding a .center class to the <home> & <contact> tags and that worked... kinda... then I read in the instructions "You do not need to change any of the existing CSS or HTML." So I errased it. 
As a person who enjoys the spendors or visual symatry I am disgusted and appalled. I don't know how to fix it cuz I've tried several different things. I'm giving into my inner demons and giving up on it.
Now for the img hero text, I said "NOT TODAY SATAN!" and blanked out the text in the original CSS code... gonna see how that goes.

Ready for more things I struggle with??? WHY DOES JUSTIFY-CONTENT: CENTER; NEVER WORK!?!? W3 School is all like "use this simple code to center your content like a good little coder" and I'm like, "IN WHAT UNIVERSE???" What parallel universe do I live in where justify-content: center; works for everyone else but not for me. YOU LIE W3 SCHOOLS!!! the code is useless and does NOTHING! I'm sure an experienced coder can make it work in a few key strokes. My face will be plastered to the computer screen and I'll whisper, "what sorcery is this??"*/

  nav {
    flex-direction: column;
    justify-content: center;
  }

.logo{
  padding-bottom: 10px;
}

section.hero > .call-to-action{
  font-size: 20pt;
  font-weight: 490;
}

main article {
  padding: 15px;
}

main > article{
  display: flex;  
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

section.hero {
  margin-bottom: 10px;
}

main > article img {
  justify-content: center;
  width: 300px;
  height: auto;
  margin-left: 30px;
  margin-bottom: 6px;
}


/*I feel like I should see my therapist after this assignment...*/

}